<%= provide(:backgroundImg, "http://deca.victoriaparkci.ca/2016/_images/background.png") %>
<%= provide(:pageTitle, "Welcome to Victoria Park CI's DECA Chapter") %>
<h1><%= yield(:pageTitle) %></h1>
<p>Find me in app/views/site/index.html.erb</p>
<!--<img src = "https://f4.bcbits.com/img/0002387644_10.jpg">-->